@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.modern-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
}

.modern-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  cursor: grab;
}

.modern-slider:active::-webkit-slider-thumb {
  cursor: grabbing;
}

.modern-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  cursor: grab;
}

.modern-slider:active::-moz-range-thumb {
  cursor: grabbing;
}

.modern-slider::-ms-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  cursor: grab;
}

.modern-slider:active::-ms-thumb {
  cursor: grabbing;
}